<div class="min-h-screen max-w-screen">
  <!-- Header -->
  <header class="bg-gray-900 text-white py-8 text-center">
    <div class="flex items-center justify-center space-x-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 120 40"
        class="w-28 h-10 stroke-gray-400 fill-none"
      >
        <path
          d="M120 20 H40 C10 20 10 0 40 0 C70 0 70 40 40 40 C10 40 10 20 40 20"
          stroke-width="1.2"
        />
      </svg>
      <div>
        <h1 class="text-4xl font-bold">Alexander Zarate</h1>
        <p class="text-gray-400">Fullstack Web Developer</p>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 120 40"
        class="w-28 h-10 stroke-gray-400 fill-none"
      >
        <path
          d="M0 20 H80 C110 20 110 0 80 0 C50 0 50 40 80 40 C110 40 110 20 80 20"
          stroke-width="1.2"
        />
      </svg>
    </div>
  </header>

  <!-- About Me -->
  <section class="max-w-6xl grid grid-cols-1 md:grid-cols-2 mx-auto py-16 px-6 text-center gap-16">
    <div
      class="transform -rotate-12 transition-transform duration-600 hover:rotate-0 p-4 shadow-lg border shadow-gray-700 bg-white hover:shadow-amber-400 hover:border-amber-400 hover:shadow-2xl items-center rounded-lg"
    >
      <img
        src="images/pp.jpg"
        alt=""
        class="h-75 w-full object-cover hover:border-amber-400 rounded-lg border-2 border-gray-600"
      />
    </div>
    <p class="text-gray-600 border-s-2 flex items-center ps-5 text-start">
      Soy desarrollador web full-stack con experiencia en Angular, NestJS y Laravel. Me especializo
      en crear aplicaciones escalables, seguras y con interfaces modernas, aplicando buenas
      prácticas en el desarrollo.
      <br />
      Tengo un enfoque en:
      <br />
      Frontend: construcción de interfaces rápidas y responsivas con Angular y TailwindCSS.
      <br />
      Backend: desarrollo de APIs robustas con NestJS y Laravel.
      <br />
      Bases de datos: modelado eficiente y consultas optimizadas en SQL.
      <br />
      Me apasiona aprender nuevas tecnologías, resolver problemas complejos y transformar ideas en
      soluciones digitales que generen impacto.
    </p>
  </section>

  <!-- Skills -->
  <section class="py-12 px-6">
    <swiper-container #swiperEl autoplay-delay="0" free-mode="true" init="false" class="pt-8 pb-30">
      <ng-container *ngFor="let item of items; let index = index">
        <swiper-slide>
          <p class="font-semibold border-y-2 border-gray-700 text-3xl italic uppercase font-mono">
            {{ item }}
          </p>
        </swiper-slide>
      </ng-container>
    </swiper-container>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 text-center">
      <div
        class="p-4 bg-gray-300 border-2 border-gray-800 rounded-xl shadow hover:scale-110 hover:bg-gradient-to-r from-red-500 via-15% via-pink-600 to-purple-700 transition"
      >
        <img
          src="images/angular_wordmark_gradient.png"
          alt="Logo Angular"
          class="object-contain h-20 mx-auto"
        />
      </div>
      <div
        class="p-4 bg-gray-300 border-2 border-gray-800 rounded-xl shadow hover:scale-110 hover:bg-red-400 transition"
      >
        <img
          src="images/pngaaa.com-3729971.png"
          alt="Logo Nestjs"
          class="object-contain h-20 mx-auto"
        />
      </div>
      <div
        class="p-4 bg-gray-300 border-2 border-gray-800 rounded-xl shadow hover:scale-110 transition hover:bg-orange-400"
      >
        <img
          src="images/logo-laravel-1024.png"
          alt="Logo Laravel"
          class="object-contain h-20 mx-auto scale-180 md:scale-250"
        />
      </div>
      <div
        class="p-4 bg-gray-300 border-2 border-gray-800 rounded-xl shadow hover:scale-110 hover:bg-blue-900 transition"
      >
        <img src="images/logo-ag-grid.png" alt="Logo ag-grid" class="object-contain h-20 mx-auto" />
      </div>
      <div
        class="p-4 bg-gray-300 border-2 border-gray-800 rounded-xl shadow hover:scale-110 hover:bg-blue-800 transition"
      >
        <img
          src="images/posstgress.png"
          alt="Logo Postgress"
          class="object-contain h-20 mx-auto scale-110 md:scale-140"
        />
      </div>
      <div
        class="p-4 bg-gray-300 border-2 border-gray-800 rounded-xl shadow hover:scale-110 hover:bg-black transition"
      >
        <img src="images/logo-ngxs.png" alt="Logo Ngxs" class="object-contain h-20 mx-auto" />
      </div>
      <div
        class="p-4 bg-gray-300 border-2 border-gray-800 rounded-xl shadow hover:scale-110 hover:bg-emerald-300 transition"
      >
        <img
          src="images/logo-tailwind.png"
          alt="Logo Tailwind"
          class="object-contain h-20 mx-auto scale-140"
        />
      </div>
      <div
        class="p-4 bg-gray-300 border-2 border-gray-800 rounded-xl shadow hover:scale-110 hover:bg-purple-400 transition"
      >
        <img
          src="images/logo-boostrap.png"
          alt="Logo Boostrap"
          class="object-contain h-20 mx-auto"
        />
      </div>
    </div>
  </section>

  <!-- Projects -->
  <section class="max-w-5xl mx-auto py-12 px-6">
    <swiper-container #swiperEl2 autoplay-delay="0"   free-mode="true" class="pt-8 pb-30">
      <ng-container *ngFor="let item of items; let index = index">
        <swiper-slide>
          <p class="font-semibold border-y-2 border-gray-700 text-3xl italic uppercase font-mono">
            {{ item }}
          </p>
        </swiper-slide>
      </ng-container>
    </swiper-container>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div
        class="bg-white shadow rounded-xl overflow-hidden border-2 border-gray-800 hover:scale-110 transition-transform duration-200"
      >
        <img
          src="images/rh.png"
          alt="Project 1"
          class="w-full h-48 object-cover border-b-2 border-gray-400"
        />
        <div class="p-4">
          <h3 class="font-semibold">Sistema RH</h3>
          <p class="text-gray-600 text-sm">
            App en Angular 13 + larave 8 para gestión de recursos humanos (ERP).
            <br />
            Desarrolle funcionalidades como:
            <br />
            Integracion con dispositivos hikvision para lecturar de huellas digitales con la
            finalidad de gestionar el registro de trabajadores y control de acceso a las
            instalaciones. Tambien el modulo de asistencias para 'el registro y seguimiento de las
            asistencias de los empleados, incluyendo la integración con dispositivos biométricos
            para una mayor precisión, tambien la generacion de reportes y acciones crud para los
            registros de asistencias y reporte de novedades atravez de tablas dinamicas usando
            ag-grid.
          </p>
          <!-- <a href="#" class="text-blue-600 hover:underline">Ver en GitHub</a> -->
        </div>
      </div>
      <div
        class="bg-white border-2 border-gray-800 shadow rounded-xl overflow-hidden hover:scale-110 transition-transform duration-200"
      >
        <img
          src="images/inventario.png"
          alt="Project 2"
          class="w-full h-48 object-cover border-b-2 border-gray-400"
        />
        <div class="p-4">
          <h3 class="font-semibold">Sistema Inventarios</h3>
          <p class="text-gray-600 text-sm">
            App en Angular 16+ y Api Nestjs .
            <br />
            Desarrollo desde 0 de una aplicacion para la gestion de inventarios, con funcionalidades
            como acciones crud para articulos, categorias, proveedores, clientes, facturas, gestion
            de ciclos de mantenimientos.
            <br />
            Implementacion de autenticacion y autorizacion.
            <br />
            Uso de ag-grid para tablas dinamicas y reportes en pdf.
            <br />
            Sistema de Tickets para soporte tecnico.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <footer class="bg-gray-900 text-white py-6 text-center">
    <p>📧 alexander@example.com</p>
    <p>
      <a href="https://linkedin.com/in/tuusuario" class="text-blue-400 hover:underline">LinkedIn</a>
      |
      <a href="https://github.com/tuusuario" class="text-gray-300 hover:underline">GitHub</a>
    </p>
  </footer>
</div>
